.about-us-container {
  padding-top: 110px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > p {
    margin-bottom: 40px;
  }
}

.about-us__description {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  gap: 40px;
  position: relative;

  @include tablet {
    > p {
      margin-bottom: 10px;
    }
  }

  @include desktop {
    padding-top: 20px;
    width: 100%;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 2px;
    background-color: var(--green1);

    @include tablet {
      bottom: 40px;
      width: 100%;
    }
  }

  > p {
    max-width: 900px;
    padding: 0 20px;
    text-align: justify;
  }
}

.about-us__images {
  width: 90vw;
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;

  @include tablet {
    gap: 50px;
  }

  > img {
    width: 220px;
    height: 220px;
    border-radius: 30px;
    object-fit: cover;
    object-position: center;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.352));

    @include tablet {
      width: 340px;
      height: 340px;
    }

    @include desktop {
      width: 400px;
      height: 400px;
    }
  }
}
