.contact-container {
  padding-top: 110px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > p {
    margin-bottom: 40px;
  }
}

.contact__description {
  padding-top: 20px;
  padding-bottom: 50px;

  > p {
    max-width: 700px;
    padding: 0 20px;
    text-align: justify;

    @include desktop {
      max-width: 900px;
    }
  }
}

.write-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-bottom: 40px;

  @include tablet {
    gap: 30px;
    flex-direction: row;
    max-width: 700px;
  }

  @include desktop {
    justify-content: space-between;
    max-width: 900px;
  }
}

.worker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  @include tablet {
    gap: 15px;
    flex-direction: row;
  }

  > figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablet {
      justify-content: left;
      align-items: start;
    }
  }

  > img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    filter: drop-shadow(2px 2px 4px rgba(30, 68, 6, 0.232));

    @include tablet {
      width: 150px;
      height: 150px;
    }
  }
}

.worker__info {
  font-size: 17px;
}

.worker__languages {
  margin-top: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  > img {
    width: 30px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.163);
  }
}

.contact-form {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;

  > p {
    max-width: 700px;
    padding: 0 20px;
    text-align: justify;

    @include desktop {
      max-width: 900px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 2px;
    background-color: var(--green1);

    @include tablet {
      width: 600px;
    }

    @include desktop {
      width: 900px;
    }
  }
}

.form-container .form-group {
  margin-bottom: 20px;
  width: 100%;
}

.form-group label {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: var(--green4);
  font-size: 18px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  margin-top: 5px;
  resize: none;

  @include tablet {
    width: 400px;
  }
}

.form-group textarea {
  height: 150px;
}

form {
  width: 320px;
  width: 80vw;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  background-color: var(--green1a);
  padding: 20px;
  border-radius: 10px;
  margin: 20px;

  @include tablet {
    width: 500px;
  }
}
