.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  // padding-top: 30px;
  // padding-bottom: 10px;
  padding: 40px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/photos/hero.jpg");
  background-position: center;
  background-size: cover;
  background-position: center;
  background-size: cover;
  min-height: 500px;
  position: relative;
  filter: drop-shadow(2px 2px 4px rgba(30, 68, 6, 0.232));

  @include tablet {
    min-height: 650px;
    // max-height: 650px;
  }

  @include desktop {
    padding-top: 50px;
  }
}

.hero-container {
  padding-top: 10px;
  // height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  h1,
  p {
    text-align: center;
    color: var(--white);
  }

  p {
    margin-top: 10px;
    margin-bottom: 20px;
    max-width: 700px;
    // text-align: center;

    @include desktop {
      margin: 30px;
    }
  }

  span {
    color: var(--red2);
  }
}

.offer-container {
  padding-top: 60px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > h2 {
    text-align: center;
  }

  > p {
    margin: 30px;
    text-align: center;
    max-width: 700px;
  }
}

.offer__figures {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
  margin-top: 20px;

  @include tablet {
    gap: 40px;
    flex-direction: row;
  }
}

.offer__figure {
  position: relative;
  transition: filter 0.3s ease;

  &:hover,
  &:focus {
    cursor: pointer;
    filter: drop-shadow(2px 2px 4px rgba(30, 68, 6, 0.426));
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 7px;
    left: 0;
    width: 100%;
    height: 45px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.573), rgba(0, 0, 0, 0.622));
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: opacity 0.3s ease;
    opacity: 0.8;
  }

  &:hover::before,
  &:focus::before {
    cursor: pointer;
    opacity: 1;
  }

  > figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 7px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--green1);
    text-align: center;
    width: 100%;
    height: 45px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 16px;

    @include tablet {
      font-size: 18px;
    }

    @include desktop {
      font-size: 20px;
    }
  }

  img {
    border-radius: 5px;
    max-width: 600px;
    width: 100%;

    @include tablet {
      width: 400px;
    }
  }
}

.talk-to-us {
  margin-top: 40px;
  background-color: var(--green2);
  // position: relative;
  filter: drop-shadow(2px 0 6px rgba(30, 68, 6, 0.232));

  h2 {
    color: var(--white);
    text-align: center;
  }

  p {
    text-align: center;
  }

  @include tablet {
    position: relative;
  }
}

.talk-to-us-container {
  padding-top: 80px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  @include tablet {
    padding-bottom: 140px;
  }
}

.team-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-bottom: 140px;
  // position: absolute;

  @include tablet {
    padding-bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    position: absolute;
    bottom: -75px;
  }
}

.team__icon {
  fill: rgb(173, 173, 173);
  border-radius: 50%;
  background-color: rgb(231, 231, 231);
  width: 200px;
  height: 200px;

  @include tablet {
    width: 150px;
    height: 150px;
  }
}

.contact-us {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -65px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 2px;
    background-color: var(--green1);

    @include tablet {
      top: 0;
      left: 0;
      transform: translateX(-50%);
      width: 0;
      height: 0;
    }
  }

  @include tablet {
    padding-top: 120px;
    padding-bottom: 50px;
  }
}
