.hero {
  padding-top: 50px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/photos/hero.jpg");
  background-position: center;
  background-size: cover;
  background-position: center;
  background-size: cover;
  height: 550px;
  position: relative;
  filter: drop-shadow(2px 2px 4px rgba(30, 68, 6, 0.232));
}

.hero-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1,
  p {
    text-align: center;
    color: var(--white);
  }

  p {
    margin-top: 20px;
    margin-bottom: 40px;
    margin: 30px;
    max-width: 700px;
    text-align: center;
  }

  span {
    color: var(--red1);
  }
}

.offer-container {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.offer__text {
  margin: 30px;
  text-align: center;
  max-width: 700px;
}

.offer__figures {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 30px;
}

.offer__figure {
  position: relative;
  transition: filter 0.3s ease;

  &:hover,
  &:focus {
    cursor: pointer;
    filter: drop-shadow(2px 2px 4px rgba(30, 68, 6, 0.426));
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 45px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.573), rgba(0, 0, 0, 0.622));
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: opacity 0.3s ease;
    opacity: 0.8;
  }

  &:hover::before,
  &:focus::before {
    cursor: pointer;
    opacity: 1;
  }

  > figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--green1);
    text-align: center;
    width: 100%;
    height: 45px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  img {
    border-radius: 5px;
  }
}

.talk-to-us {
  margin-top: 40px;
  background-color: var(--green2);
  position: relative;

  h2 {
    color: var(--white);
  }
}

.talk-to-us-container {
  padding-top: 80px;
  padding-bottom: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.team-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 80px;
  position: absolute;
  bottom: -75px;
}

.team__icon {
  fill: rgb(173, 173, 173);
  border-radius: 50%;
  background-color: rgb(231, 231, 231);
}

.contact-us {
  padding-top: 120px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
