.description-container {
  padding-top: 90px;
  padding-bottom: 40px;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: justify;

  > p {
    text-align: center;
  }
}

.description-products {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.description-services {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.table-container {
  max-width: 100%;
  margin: 30px auto;
  margin-bottom: 70px;
  overflow-x: auto;
}

.products__table {
  width: 100%;
  border-collapse: collapse;
  color: var(--green4);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.184);

  th,
  td {
    padding: 15px;
    padding-left: 25px;
    border: none;
    text-align: center;
  }

  th {
    background-color: var(--green2);
    color: var(--white);
  }

  tr:nth-child(even) {
    background-color: var(--green1a);
  }

  tr:hover {
    background-color: var(--green1b);
  }

  tr:hover {
    transform: scale(1.015);
    transition: transform 0.2s ease;
  }
}

.separator {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 320px;
    height: 2px;
    background-color: var(--red1a);

    @include tablet {
      width: 500px;
    }

    @include desktop {
      width: 900px;
    }
  }
}

.products-container {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products__separator {
  margin-top: 40px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 320px;
    height: 2px;
    background-color: var(--green1);

    @include tablet {
      width: 500px;
    }

    @include desktop {
      width: 900px;
    }
  }
}

.products {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  position: relative;
}

// .products__list {
//   width: 80%;
//   list-style: none;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   gap: 30px;
// }

// .products__item {
//   flex-basis: calc((100% - 2 * 165px) / 2);
//   flex-basis: calc((100% - 2 * 100px) / 2);
//   margin-bottom: 20px;
//   filter: drop-shadow(0 2px 4px rgba(30, 68, 6, 0.232));
//   display: flex;
//   justify-content: center;
// }

// .products__image {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
//   object-position: center;
//   border-top-right-radius: 7px;
//   border-top-left-radius: 7px;
// }

// .product__figure {
//   width: 250px;
//   height: 250px;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   border-radius: 7px;
//   transition: filter 0.3s ease;

//   &:hover,
//   &:focus {
//     filter: drop-shadow(2px 2px 4px rgba(30, 68, 6, 0.232));
//     cursor: pointer;
//   }
// }

// .product__figcaption {
//   width: 100%;
//   height: 40px;
//   background-color: var(--white);
//   background-color: var(--green2);
//   color: var(--white);
//   border-bottom-right-radius: 7px;
//   border-bottom-left-radius: 7px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   filter: drop-shadow(2px 2px 4px rgba(30, 68, 6, 0.232));
// }

.products__list {
  width: 80%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 30px;

  @include desktop {
    gap: 50px;
    margin-bottom: 50px;
  }
}

.products__item {
  filter: drop-shadow(2px 2px 4px rgba(30, 68, 6, 0.232));
  justify-content: center;
}

.products__figure {
  width: 320px;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  transition: filter 0.3s ease;

  // @include tablet {
  //   width: 400px;
  //   height: 400px;
  // }

  &:hover,
  &:focus {
    filter: drop-shadow(2px 2px 4px rgba(30, 68, 6, 0.232));
    cursor: pointer;
    transform: scale(1.015);
    transition: transform 0.2s ease;
  }
}

.products__image {
  width: 320px;
  height: 280px;
  object-fit: cover;
  object-position: center;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;

  // @include tablet {
  //   width: 400px;
  //   height: 360px;
  // }
}

.products__figcaption {
  width: 100%;
  height: 40px;
  background-color: var(--white);
  background-color: var(--green2);
  color: var(--white);
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services__separator {
  margin-top: 30px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 320px;
    height: 2px;
    background-color: var(--green1);

    @include tablet {
      width: 500px;
    }

    @include desktop {
      width: 900px;
    }
  }
}

.services {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services__list {
  width: 80%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;

  @include desktop {
    gap: 50px;
    margin-bottom: 50px;
  }
}

.services__item {
  filter: drop-shadow(2px 2px 4px rgba(30, 68, 6, 0.232));
  justify-content: center;
}

.services__image {
  width: 100%;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.services__figure {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  transition: filter 0.3s ease;

  @include tablet {
    width: 400px;
  }

  &:hover,
  &:focus {
    filter: drop-shadow(2px 2px 4px rgba(30, 68, 6, 0.232));
    cursor: pointer;
    transform: scale(1.015);
    transition: transform 0.2s ease;
  }
}

.services__figcaption {
  width: 100%;
  height: 40px;
  background-color: var(--white);
  background-color: var(--green2);
  color: var(--white);
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.apple-backdrop {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.179);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.apple-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: 90%;
  max-width: 520px;
  height: 500px;
  background-color: #fff;
  border-radius: 10px;
  position: fixed;
  gap: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;

  @include tablet {
    width: 600px;
    height: 600px;
  }

  > .apple-title {
    // margin-bottom: 20px;
    text-align: center;
    font-size: 30px;

    @include tablet {
      font-size: 50px;
    }
  }

  .apple-description {
    padding: 10px;
    max-width: 450px;
  }

  > img {
    width: 200px;
    height: 200px;
    object-fit: cover;

    @include tablet {
      width: 300px;
      height: 300px;
    }
  }
}

.closeBtn {
  position: absolute;
  top: 5px;
  right: 13px;
  font-size: 25px;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.service-backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.179);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.service-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: 90%;
  max-width: 520px;
  // height: 500px;
  background-color: #fff;
  border-radius: 10px;
  position: fixed;
  gap: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;

  @include tablet {
    width: 700px;
    // height: 600px;
  }

  @include desktop {
    width: 700px;
    // height: 600px;
  }

  > .service-title {
    // margin-bottom: 20px;
    font-size: 30px;

    @include tablet {
      font-size: 50px;
    }
  }

  .service-description {
    padding: 10px;
    max-width: 450px;
  }

  > img {
    border-radius: 10px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;

    @include tablet {
      width: 300px;
      height: 300px;
    }
  }
}

.closeBtn {
  position: absolute;
  top: 5px;
  right: 13px;
  font-size: 25px;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}
