.description-container {
  padding-top: 110px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: justify;

  > p {
    text-align: center;
    max-width: 900px;
  }
}

.products-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products__separator {
  margin-top: 40px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 320px;
    height: 2px;
    background-color: var(--green1);

    @include tablet {
      width: 500px;
    }

    @include desktop {
      width: 900px;
    }
  }
}

.products {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  position: relative;
}

.products__list {
  width: 80%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;

  @include landscape {
    max-width: 700px;
    gap: 30px;
  }

  @include tablet {
    gap: 30px;
  }

  @include desktop {
    gap: 40px;
    margin-bottom: 50px;
  }
}

.products__item {
  filter: drop-shadow(2px 2px 4px rgba(30, 68, 6, 0.232));
  justify-content: center;
}

.products__figure {
  // width: 320px;
  // height: 320px;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  transition: filter 0.3s ease;

  @include desktop {
    width: 320px;
    height: 320px;
  }

  &:hover,
  &:focus {
    filter: drop-shadow(2px 2px 4px rgba(30, 68, 6, 0.232));
    cursor: pointer;
    transform: scale(1.015);
    transition: transform 0.2s ease;
  }
}

.products__image {
  // width: 320px;
  // height: 280px;
  width: 250px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;

  @include desktop {
    width: 320px;
    height: 280px;
  }
}

.products__figcaption {
  width: 100%;
  height: 40px;
  background-color: var(--white);
  background-color: var(--green2);
  color: var(--white);
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-container {
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 70px;
  overflow-x: auto;
  // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.184);
  border-radius: 10px;
  // margin-top: 40px;
  padding-top: 50px;
  position: relative;

  @include landscape {
    max-width: 900px;
  }

  @include tablet {
    max-width: 900px;
  }

  @include desktop {
    padding-top: 60px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 280px;
    height: 2px;
    background-color: var(--green1);

    @include tablet {
      width: 530px;
    }

    @include desktop {
      width: 680px;
    }
  }
}

.products__table {
  width: 100%;
  border-collapse: collapse;
  color: var(--green4);
  border-radius: 8px;
  overflow: hidden;

  th,
  td {
    padding: 10px 20px;
    border: none;
    text-align: center;
  }

  th {
    background-color: var(--green2);
    color: var(--white);
  }

  tr:nth-child(even) {
    background-color: var(--green1a);
  }

  tbody > tr:hover {
    background-color: var(--green1b);
    transform: scale(1.015);
    transition: transform 0.2s ease;
  }
}

.separator {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 320px;
    height: 2px;
    background-color: var(--red1a);

    @include tablet {
      width: 500px;
    }

    @include desktop {
      width: 900px;
    }
  }
}

.services-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services__separator {
  margin-top: 30px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 320px;
    height: 2px;
    background-color: var(--green1);

    @include tablet {
      width: 500px;
    }

    @include desktop {
      width: 900px;
    }
  }
}

.services {
  padding-top: 30px;
  padding-top: 10px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services__list {
  width: 80%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;

  @include landscape {
    max-width: 700px;
    gap: 30px;
  }

  @include tablet {
    gap: 30px;
  }

  @include desktop {
    gap: 40px;
    margin-bottom: 50px;
  }
}

.services__item {
  filter: drop-shadow(2px 2px 4px rgba(30, 68, 6, 0.232));
  justify-content: center;
}

.services__figure {
  // width: 320px;
  // height: 320px;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  transition: filter 0.3s ease;

  @include desktop {
    width: 320px;
    height: 320px;
  }

  &:hover,
  &:focus {
    filter: drop-shadow(2px 2px 4px rgba(30, 68, 6, 0.232));
    cursor: pointer;
    transform: scale(1.015);
    transition: transform 0.2s ease;
  }
}

.services__image {
  // width: 320px;
  // height: 280px;
  width: 250px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;

  @include desktop {
    width: 320px;
    height: 280px;
  }
}

.services__figcaption {
  width: 100%;
  height: 40px;
  background-color: var(--white);
  background-color: var(--green2);
  color: var(--white);
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.apple-backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.179);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.apple-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: 90%;
  max-width: 520px;
  height: 550px;
  background-color: #fff;
  border-radius: 10px;
  position: fixed;
  gap: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;

  @include tablet {
    width: 600px;
    height: 600px;
  }

  @include landscape {
    // max-height: 400px;
    height: 90vh;
    gap: 10px;
  }

  > .apple-title {
    text-align: center;
    font-size: 30px;

    @include tablet {
      font-size: 50px;
    }

    @include landscape {
      font-size: 30px;
    }
  }

  .apple-description {
    padding: 10px;
    max-width: 450px;

    > p {
      @include landscape {
        font-size: 15px;
      }
    }
  }

  > img {
    // width: 150px;
    // height: 150px;
    width: 60%;
    height: 60%;
    object-fit: cover;
    object-fit: contain;

    @include landscape {
      width: 65%;
      height: 65%;
    }

    @include tablet {
      width: 80%;
      height: 80%;
    }

    @include desktop {
      width: 90%;
      height: 90%;
    }
  }
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 13px;
  font-size: 25px;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.service-backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.179);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.service-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: 90%;
  max-width: 520px;
  background-color: #fff;
  border-radius: 10px;
  position: fixed;
  gap: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;

  @include tablet {
    width: 700px;
  }

  @include desktop {
    width: 700px;
  }

  @include landscape {
    max-height: 400px;
    height: 95vh;
    gap: 0;
  }

  > .service-title {
    font-size: 30px;

    @include tablet {
      font-size: 50px;
    }

    @include landscape {
      font-size: 30px;
    }
  }

  .service-description {
    padding: 20px;
    max-width: 450px;

    @include landscape {
      padding: 10px;
    }

    > p {
      @include landscape {
        font-size: 15px;
        margin-bottom: 10px;
      }
    }
  }

  > img {
    border-radius: 10px;
    width: 95%;
    max-width: 400px;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 20px;

    @include tablet {
      width: 460px;
      height: 300px;
    }

    @include landscape {
      width: 220px;
      height: 150px;
    }
  }
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 25px;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}
