.description-container {
  padding-top: 110px;
  padding-bottom: 30px;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: justify;
}

.products-container {
  padding-bottom: 50px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  position: relative;
}

#products {
  margin-top: 60px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    width: 320px;
    height: 2px;
    background-color: var(--green1);

    @include tablet {
      width: 500px;
    }

    @include desktop {
      width: 900px;
    }
  }
}

.products__list {
  width: 80%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.products__item {
  flex-basis: calc((100% - 2 * 50px) / 3);
  margin-bottom: 20px;
  filter: drop-shadow(0 2px 4px rgba(30, 68, 6, 0.232));
  display: flex;
  justify-content: center;
}

.products__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.product__figure {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  transition: filter 0.3s ease;

  &:hover,
  &:focus {
    filter: drop-shadow(2px 2px 4px rgba(30, 68, 6, 0.232));
    cursor: pointer;
  }
}

.product__figcaption {
  width: 100%;
  height: 40px;
  background-color: var(--white);
  background-color: var(--green2);
  color: var(--white);
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(2px 2px 4px rgba(30, 68, 6, 0.232));
}

.services-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#services {
  margin-top: 60px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    width: 320px;
    height: 2px;
    background-color: var(--green1);

    @include tablet {
      width: 500px;
    }

    @include desktop {
      width: 900px;
    }
  }
}

.services__list {
  width: 80%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
  }

  @include desktop {
    gap: 50px;
  }
}

.services__item {
  margin-bottom: 20px;
  filter: drop-shadow(2px 2px 4px rgba(30, 68, 6, 0.232));
}

.services__image {
  width: 100%;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.services__figure {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  transition: filter 0.3s ease;

  @include tablet {
    width: 400px;
  }

  &:hover,
  &:focus {
    filter: drop-shadow(2px 2px 4px rgba(30, 68, 6, 0.232));
    cursor: pointer;
  }
}

.services__figcaption {
  width: 100%;
  height: 40px;
  background-color: var(--white);
  background-color: var(--green2);
  color: var(--white);
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.apple-backdrop {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.179);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.apple-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: 500px;
  height: 500px;
  background-color: #fff;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;

  > .apple-title {
    margin-bottom: 20px;
  }

  > img {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
}

.closeBtn {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 25px;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}
