.privacy-policy-container {
  padding-top: 110px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h4 {
    margin-top: 30px;
  }
}
