.button--bright {
  text-align: center;
  font-size: 16px;
  font-size: 18px;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: var(--green1);
  color: var(--green4);
  transition: color 0.3s ease, background-color 0.3s ease, filter 0.3s ease, border 0.3s ease;

  // @include tablet {
  //   font-size: 18px;
  // }

  @include desktop {
    padding: 15px 25px;
    font-size: 20px;
  }

  &:hover {
    cursor: pointer;
    filter: drop-shadow(2px 2px 4px rgba(30, 68, 6, 0.426));
    background-color: var(--green3);
    color: var(--white);
  }
}

.button--dark {
  text-align: center;
  min-width: 140px;
  font-size: 16px;
  font-size: 18px;
  border-radius: 10px;
  padding: 15px 25px;
  background-color: var(--green3);
  color: var(--white);
  transition: color 0.3s ease, background-color 0.3s ease, filter 0.3s ease, border 0.3s ease;

  // @include tablet {
  //   font-size: 18px;
  // }

  @include desktop {
    padding: 15px 25px;
    font-size: 20px;
  }

  &:hover {
    cursor: pointer;
    filter: drop-shadow(2px 2px 4px rgba(30, 68, 6, 0.426));
    background-color: var(--green4);
    color: var(--white);
  }
}
