.page-footer {
  font-family: "Poppins", sans-serif;
  background-color: var(--grey);
  background-color: var(--green1a);
}

.page-footer-container {
  padding-top: 50px;
  padding-bottom: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;

  @include tablet {
    height: 120px;
    flex-direction: row;
    justify-content: space-between;
  }
}

address {
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: filter 0.3s ease, border 0.3s ease;

  > a {
    font-size: 16px;
    text-align: center;

    @include tablet {
      font-size: 17px;
    }
  }

  &:focus,
  &:hover {
    filter: drop-shadow(2px 2px 4px rgba(30, 68, 6, 0.232));
  }
}

.footer__contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__email,
.footer__phone {
  transition: filter 0.3s ease, border 0.3s ease;

  > p,
  a {
    font-size: 16px;

    @include tablet {
      font-size: 17px;
    }
  }

  &:focus,
  &:hover {
    filter: drop-shadow(2px 2px 4px rgba(30, 68, 6, 0.232));
  }
}
