header {
  font-family: "Poppins", sans-serif;
  background-color: var(--white);
  color: var(--green2);
  border-bottom: var(--green1b) 1px solid;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  height: 80px;

  @include tablet {
    height: 80px;
  }
}

.header-container {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;

  @include tablet {
    height: 80px;
  }
}

.navigation__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.navigation__item {
  text-transform: uppercase;
  font-size: 18px;
  display: inline-block;
  min-width: 87px;
  text-align: center;
  padding: 10px 10px;
  border-radius: 10px;
  font-weight: 500;
  color: var(--green4);
  color: var(--green3);
  transition: color 0.3s ease, filter 0.3s ease, border 0.3s ease, background-color 0.3s ease;

  &:focus,
  &:hover {
    filter: drop-shadow(2px 2px 4px rgba(30, 68, 6, 0.232));
    color: var(--white);
    background-color: var(--green3);
  }
}

.mobile-navigation {
  @include desktop {
    display: none;
  }
}

.mobile__button {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

  .icn {
    fill: var(--green4);
    fill: var(--green3);
    transition: fill 0.3s ease, filter 0.3s ease, border 0.3s ease;
  }

  &:focus .icn,
  &:hover .icn {
    cursor: pointer;
    filter: drop-shadow(2px 2px 4px rgba(30, 68, 6, 0.232));
  }
}

.page-navigation {
  display: none;

  @include desktop {
    display: flex;
  }
}

.mobile-modal {
  // display: flex;
  // justify-content: center;
  // flex-direction: column;
  // align-items: center;
  // padding: 20px;
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  border-radius: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: auto;

  // > header {
  //   position: fixed;
  // }

  @include desktop {
    display: none;
  }
}

.mobile-close-btn {
  color: var(--green3);
  position: absolute;
  top: 21px;
  right: 25px;
  font-size: 25px;
  transition: fill 0.3s ease, filter 0.3s ease, border 0.3s ease;

  &:hover,
  &:focus {
    cursor: pointer;
    filter: drop-shadow(2px 2px 4px rgba(30, 68, 6, 0.232));
  }
}

.mobile-nav__list {
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  // z-index: 9999;
  // margin: 80px auto;
  // // margin-bottom: 80px;
  // padding-bottom: 40px;
  // padding-top: 80px;

  @include landscape {
    margin-top: 100px;
    padding-top: 120px;
    padding-bottom: 120px;
    // margin-bottom: 100px;
  }

  @include tablet {
    gap: 20px;
  }
}

.mobile-container {
  position: fixed;
  top: 20px;
  left: 20px;
}

body.modal-open {
  overflow: hidden;
}

.mobile-nav__item {
  text-transform: uppercase;
  font-size: 25px;
  display: inline-block;
  width: 250px;
  text-align: center;
  padding: 20px 10px;
  border-radius: 10px;
  font-weight: 500;
  color: var(--green3);
  background-color: var(--white);
  transition: color 0.3s ease, filter 0.3s ease, border 0.3s ease, background-color 0.3s ease;

  @include tablet {
    font-size: 30px;
    width: 280px;
  }

  &:focus,
  &:hover {
    filter: drop-shadow(2px 2px 4px rgba(30, 68, 6, 0.232));
    color: var(--white);
    background-color: var(--green3);
  }
}
