header {
  font-family: "Poppins", sans-serif;
  background-color: var(--green1a);
  background-color: var(--grey);
  background-color: var(--white);
  color: var(--green2);
  border-bottom: var(--green1a) 1px solid;
  border-bottom: var(--green1b) 1px solid;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  // height: 60px;
  height: 80px;

  @include tablet {
    height: 80px;
  }

  // @include desktop {
  //   height: 60px;
  // }
}

.header-container {
  // height: 60px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;

  @include tablet {
    height: 80px;
  }

  // @include desktop {
  //   height: 60px;
  // }
}

.navigation__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.navigation__item {
  text-transform: uppercase;
  font-size: 18px;
  display: inline-block;
  // width: 150px;
  min-width: 87px;
  text-align: center;
  padding: 10px 10px;
  border-radius: 10px;
  font-weight: 500;
  color: var(--green4);
  color: var(--green3);
  transition: color 0.3s ease, filter 0.3s ease, border 0.3s ease, background-color 0.3s ease;

  &:focus,
  &:hover {
    // color: var(--green3);
    filter: drop-shadow(2px 2px 4px rgba(30, 68, 6, 0.232));
    color: var(--white);
    background-color: var(--green3);
  }
}

.mobile-navigation {
  @include desktop {
    display: none;
  }
}

.mobile__button {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

  .icn {
    fill: var(--green4);
    fill: var(--green3);
    transition: fill 0.3s ease, filter 0.3s ease, border 0.3s ease;
  }

  &:focus .icn,
  &:hover .icn {
    // fill: var(--green3);
    cursor: pointer;
    filter: drop-shadow(2px 2px 4px rgba(30, 68, 6, 0.232));
  }
}

.page-navigation {
  display: none;
  @include desktop {
    display: flex;
  }
}
