header {
  font-family: "Poppins", sans-serif;
  background-color: var(--green1a);
  background-color: var(--grey);
  background-color: var(--white);
  color: var(--green2);
  border-bottom: var(--green1a) 1px solid;
  border-bottom: var(--green1b) 1px solid;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  height: 80px;

  @include tablet {
    height: 80px;
  }
}

.header-container {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;

  @include tablet {
    height: 80px;
  }
}

.navigation__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.navigation__item {
  text-transform: uppercase;
  font-size: 18px;
  display: inline-block;
  min-width: 87px;
  text-align: center;
  padding: 10px 10px;
  border-radius: 10px;
  font-weight: 500;
  color: var(--green4);
  color: var(--green3);
  transition: color 0.3s ease, filter 0.3s ease, border 0.3s ease, background-color 0.3s ease;

  &:focus,
  &:hover {
    filter: drop-shadow(2px 2px 4px rgba(30, 68, 6, 0.232));
    color: var(--white);
    background-color: var(--green3);
  }
}

.mobile-navigation {
  @include desktop {
    display: none;
  }
}

.mobile__button {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

  .icn {
    fill: var(--green4);
    fill: var(--green3);
    transition: fill 0.3s ease, filter 0.3s ease, border 0.3s ease;
  }

  &:focus .icn,
  &:hover .icn {
    cursor: pointer;
    filter: drop-shadow(2px 2px 4px rgba(30, 68, 6, 0.232));
  }
}

.page-navigation {
  display: none;

  @include desktop {
    display: flex;
  }
}

.mobile-container {
  position: absolute;
  top: 20px;
  left: 20px;
}

body.modal-open {
  overflow: hidden;
}

.mobile-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;

  @include desktop {
    display: none;
  }
}

.mobile-close-btn {
  color: var(--green3);
  position: absolute;
  top: 15px;
  right: 33px;
  font-size: 25px;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.mobile-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 50vh;

  @include tablet {
    gap: 20px;
  }
}

.mobile-nav__item {
  text-transform: uppercase;
  font-size: 25px;
  display: inline-block;
  width: 250px;
  text-align: center;
  padding: 20px 10px;
  border-radius: 10px;
  font-weight: 500;
  color: var(--green4);
  color: var(--green3);
  transition: color 0.3s ease, filter 0.3s ease, border 0.3s ease, background-color 0.3s ease;

  @include tablet {
    font-size: 30px;
    width: 280px;
  }

  &:focus,
  &:hover {
    filter: drop-shadow(2px 2px 4px rgba(30, 68, 6, 0.232));
    color: var(--white);
    background-color: var(--green3);
  }
}
