.languages {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 15px;

  @include desktop {
    display: flex;
  }
}

.lang__icon {
  width: 30px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.163);

  &:focus,
  &:hover {
    cursor: pointer;
  }
}

.languages--mobile {
  position: absolute;
  top: 30px;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  @include landscape {
    right: 80px;
    gap: 15px;
  }

  @include tablet {
    right: 80px;
    gap: 15px;
  }
}

.lang__icon--mobile {
  width: 21px;
  height: 14px;
  border: 1px solid rgba(0, 0, 0, 0.163);

  @include landscape {
    width: 30px;
    height: 20px;
  }

  @include tablet {
    width: 30px;
    height: 20px;
  }

  &:focus,
  &:hover {
    cursor: pointer;
  }
}
