.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  > img {
    width: 45px;
    height: 45px;

    @include tablet {
      width: 50px;
      height: 50px;
    }

    @include desktop {
      width: 60px;
      height: 60px;
    }
  }

  &--footer {
    background-color: white;
    border-radius: 50%;

    > img {
      width: 100px;
      height: 100px;

      @include tablet {
        width: 50px;
        height: 50px;
      }

      @include desktop {
        width: 60px;
        height: 60px;
      }
    }
  }
}
