//mobile first
$tablet: 768px;
$desktop: 1199px;

// media devices
@mixin tablet {
  @media screen and (min-width: #{$tablet}) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: #{$desktop}) {
    @content;
  }
}

// @mixin iphone-landscape {
//   @media only screen and (max-device-width: 812px) and (orientation: landscape) {
//     @content;
//   }
// }
