body {
  // font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 50px;
  color: var(--green2);
  font-weight: 900;
  line-height: 1.1;

  @include tablet {
    font-size: 80px;
  }

  @include desktop {
    font-size: 100px;
  }
}

h2 {
  color: var(--green3);
  font-weight: 900;
  font-size: 50px;

  @include tablet {
    font-size: 50px;
  }

  @include desktop {
    font-size: 64px;
  }
}

h3 {
  color: var(--red1);
  font-size: 50px;
}

h4 {
  color: var(--green3);
  font-size: 20px;
}

p,
ul,
li,
div,
a,
figcaption {
  line-height: 1.5;
  font-size: 18px;
  color: var(--green4);

  // @include tablet {
  //   font-size: 18px;
  // }

  @include desktop {
    font-size: 20px;
  }

  // @include iphone-landscape {
  //   font-size: 16px;
  // }
}
