body {
  // font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h1 {
  color: var(--green2);
  font-weight: 900;
  font-size: 100px;
  line-height: 1.1;
}

h2 {
  color: var(--green3);
  font-weight: 900;
  font-size: 64px;
}

h3 {
  color: var(--red1);
  font-size: 50px;
}

h4 {
  color: var(--green3);
  font-size: 20px;
}

p,
ul,
a {
  color: var(--green4);
  font-size: 20px;
}
