:root {
  --white: #ffffff;
  // --green1: #d7f5d6;
  --green1: #e8f9e8;
  --green1a: #c3f4c3;
  --green2: #549d53;
  --green3: #0f8a0d;
  --green4: #0e500d;
  --red1: #ec6a4c;
  --red2: #ec4722;
  --black: #000000;
}

//  {
//   --white: #ffffff;
//   --green1: #a2cea1;
//   --green2: #60ab5f;
//   --green3: #396b38;
//   --green4: #0b3a0a;
// }
